h1, div, p{
    border: 3px solid blueviolet;
    text-align: center;
    color: cornflowerblue;
    padding: 10px;
    display: block;
}/*
h1{
    display: none; 
}
p{
    visibility: hidden; 
}*/
span{
    display: inline;
    border: 1px solid blue;
}
a{
    display: block;
}
li{
    display: inline;
}