h1{
    text-align: center;
    color: #e63946;
}
div.contenedor{
    width: 80%;
    height: 20%;
    margin: auto;
    border: 3px solid #a8dadc;
    padding: 15px;
    color: #457b9d;
}
div.contenedor.descendiente p{
    background-color: #fdffb6;
}
div.contenedor.hijo > p{
    background-color: #ffc6ff;
}
div.contenedor.adyacente + p {
    background-color: #caffbf;
}
div.contenedor.hermano ~ p{
    background-color: #9bf6ff;
}