<div class="conteiner">
    <div class="row">
        <div class="col">
            <h1> Listado de Personas </h1>
            <button class="btn btn-primary" [disabled]="deshabilitar"
            (click)="agregarPersona()">Agregar Persona</button>
            <p *ngIf="mostrar; else sinPersona">{{ mensaje }} con el titulo de {{ titulo }}</p>
            
            <ng-template #sinPersona>
                <p> {{ mensaje }} </p>
            </ng-template>
            
            <h5><app-persona></app-persona></h5>

            <!--<label>Titulo Persona</label>
            <input type="text" class="form-control" (input)="modificarTitulo($event)">
            {{ titulo }} -->

            <label>Titulo Persona</label>
            <input type="text" class="form-control" [(ngModel)]="titulo">
            <p> {{titulo}} </p>

        </div>
    </div>
</div>