h1{
    text-align: center;
    color: crimson;
}
div.contenedor{
    width: 30%;
    height: 100px;
    overflow: auto;
}
div.contenedor.flotado{
    float: left;
}
div.contenedor.flotado.contenedor1{
    border: 3px dashed greenyellow;
}
div.contenedor.flotado.contenedor2{
    border: 3px dashed cornflowerblue;
    float: right;
}
div.contenedor.contenedor3{
    clear: both;
    border: 3px dashed darkorange;
    margin: auto;
}
spam{
    font-weight: bolder;
    border : 3px solid yellow;
    padding: 5px;
    display: inline-block;
}
.menu{
    list-style-type: none;
    text-align: center;
}
.menu li{
    display: inline-block;
    padding: 15px;
    margin: 20px;
    background-color: #e63946;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: #f1faee;
}
